<!--<div id='cssmenu'>-->
<!--<ul>-->
<!--   <li class='active'><a href='#'>CUSTOMER</a></li>-->
<!--   <li><a href='#'>STATUS</a></li>-->
<!--   <li><a href='#'>DELIVERY</a></li>-->
<!--   <li><a href='#'>CONTACT</a></li>-->
<!--</ul>-->
<!--</div>-->

<div id='menu'>
   <ul>
       <li><a href="customers#index.html.erb">CUSTOMER</a></li>
       <li><a href="orders#index.html.erb">ORDER</a></li>
       <li><a href="#">SAMPLE</a></li>
       <li><a href="#">SAMPLE</a></li>
       <li><a href="#">CONTACT</a></li>
   </ul>
</div>